@font-face {
	font-family: 'neueMachina';
	src: url('./assets/NeueMachina-Regular.woff2') format('woff2');
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	/* border: 1px solid red; */

	font-family: 'neueMachina';
}

html,
body,
main {
	width: 100%;
	height: 100%;
}

h1 {
	font-size: 4rem;
}

p {
	width: 50%;
	margin: 2rem 0;
}

section {
	height: 100vh;
}

img {
	width: 400px;
	height: 80%;
	object-fit: cover;
	object-position: center;
}

.container {
	padding: 5rem;
}

.sticky__parent {
	height: 500vh;
}

.sticky {
	overflow: hidden;
	position: sticky;

	top: 0;
	height: 100vh;

	border: 1px solid red;
}

.scroll__section {
	position: absolute;
	top: 0;
	height: 100%;
	width: 500vw; /** need to be the same value as .sticky__parent height */
	will-change: transform;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5vw;
}
